.pagination-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  border: 0.1rem solid var(--secondary-color-200);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  color: var(--secondary-color-500);
}

.pagination-btn.active {
  background-color: #2f80ed;
  color: #f9fafb;
}
