.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
}

.dropdown button {
  width: 13rem;
  height: 4.2rem;
  border: 0.1rem solid var(--secondary-color-200);
  background-color: #ffffff;
  color: #1f2937;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
}

.dropdown .recent {
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  border-bottom: none;
}

.dropdown .favorite {
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}
