@import "reset.css";

:root {
  /* Primary Color */
  --primary-color-100: #3692FF;
  --primary-color-200: #1967D6;
  --primary-color-300: #1251AA;

  /* Secondary Color Group(gray) */
  --secondary-color-900: #111827;
  --secondary-color-800: #1F2937;
  --secondary-color-700: #374151;
  --secondary-color-600: #4B5563;
  --secondary-color-500: #6B7280;
  --secondary-color-400: #9CA3AF;
  --secondary-color-200: #E5E7EB;
  --secondary-color-100: #F3F4F6;
  --secondary-color-50: #F9FAFB;

  /* Error Color Group */
  --error-color: #F74747;
}

* {
  font-family: Pretendard;
}

html {
  font-size: 62.5%;
}

button {
  /* 버튼 기본 스타일 지우기 */
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

button, a {
  /* 버튼, 링크 안 이미지 중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

button > img {
  width: 100%;
}

/* index.html*/

.main-large-txt {
  color: var(--secondary-color-700);
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  margin: 0;
  word-break: keep-all;
}

.main-small-txt {
  color: var(--secondary-color-700);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
}

/*헤더*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  position: sticky;
  top: 0;
  background-color: white;
}

#header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 112rem;
  width: 100%;
  min-width: 30rem;
  flex-grow: 1;
  margin: 0 20rem;
}

#main-logo img {
  width: 15.3rem;
  height: 5.1rem;
}

#main-login-btn {
  width: 12.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  background-color: var(--primary-color-100);
  font-size: 1.6rem;
  color: var(--secondary-color-100);
}

/*main-welcome, main-bottom*/
.main-welcome,.main-bottom {
  background-color: #CFE5FF;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-welcome-wrap,.main-bottom-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 111rem;
  padding-top: 20rem;
}

/* main-welcome */
.main-welcome-conts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10rem;
  gap: 3rem;
}

.main-welcome-wrap > img, .main-bottom-wrap > img {
  width: 74.6rem;
}

#main-visit-btn {
  width: 35.7rem;
  height: 5.6rem;
  border-radius: 40rem;
  background-color: var(--primary-color-100);
  font-size: 2rem;
  color: var(--secondary-color-50);
}

/* main-bottom */
.main-bottom-conts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 15%;
  gap: 2rem;
}

/*main-feature 공통*/

.main-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13.8rem auto;
}

.main-feature-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCFCFC;
  width: 98.8rem;
  gap: 5rem;
}

.main-feature-wrap img {
  width: 58.8rem
}

.main-feature-conts {
  display: flex;
  flex-direction: column;
}

.main-feature-badge {
  color: var(--primary-color-100);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-bottom: 1.2rem;
}

.main-feature-text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

/* main-feature2 - 오른쪽 정렬 */
#main-feature2 .main-feature-conts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#main-feature2 .main-large-txt, #main-feature2 .main-small-txt {
  text-align: right;
}

/*푸터*/
footer {
  display: flex;
  justify-content: center;
  height: 16rem;
  background-color: var(--secondary-color-900);
  font-size: 1.6rem;
  font-weight: 400;
}

#footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 152rem;
  flex-grow: 1;
  margin: 3.2rem 20rem 10.8rem;
}

#copyright {
  color: var(--secondary-color-400);
}

footer a {
  text-decoration: none;
  color: var(--secondary-color-200);
}

#footer-conts {
  display: flex;
  justify-content: center;
  width: 15.9rem;
  height: 1.9rem;
  gap: 3rem;
}

#footer-sns-icons {
  display: flex;
  flex-direction: row;
  gap: 1.2rem
}

#footer-sns-icons a {
  width: 2rem;
  height: 2rem;
}

#footer-sns-icons a img{
  width: 100%;
}

/* login.html, signup.html*/

#login-wrap, #signup-wrap {
  box-sizing: border-box;
  padding: 23.1rem 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-logo, #signup-logo {
  display: block;
  box-sizing: border-box;
  width: 39.6rem;
  height: 13.2rem;
  margin-bottom: 4rem;
}

#login-logo img, #signup-logo img {
  width: 100%;
  height: 100%;
}

#login-conts, #signup-conts {
  width: 100%;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form label, .signup-form label {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
}

.input-box {
  position: relative;
  width: 100%;
}

.input-box input {
  box-sizing: border-box;
  width: 100%;
  height: 5.6rem;
  border: 0;
  background-color: var(--secondary-color-100);
  border-radius: 1.2rem;
  font-size: 1.6rem;
  padding: 1.5rem 2.4rem;
}

.input-box input:focus {
  outline: 0.1rem solid var(--primary-color-100);
}

.input-box input.error {
  outline: 0.1rem solid var(--error-color);
}

.blank-email-msg, .blank-psw-msg, .blank-nickname-msg,
.invalid-email-msg, .invalid-psw-msg,
.not-match-psw-msg {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--error-color);
  padding: 0.8rem 1.6rem;
}

.visibility-icon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
}

.visibility-icon img {
  width: 100%;
}

#login-btn, #signup-btn {
  width: 100%;
  height: 5.6rem;
  border-radius: 4rem;
  background-color: var(--secondary-color-400);
  font-size: 2rem;
  color: var(--secondary-color-100);
  text-decoration-line: none;
}

#login-btn.valid, #signup-btn.valid {
  background-color: var(--primary-color-100);
}

#social-login {
  box-sizing: border-box;
  background-color: #E6F2FF;
  border-radius: 0.8rem;
  height: 7.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.3rem;
}

#social-login span {
  color: var(--secondary-color-800);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
}

#social-logo-wrap {
  display: flex;
  gap: 1.6rem;
}

.social-logo {
  width: 4.2rem;
  height: 4.2rem;
}

#signup-text p, #login-text p {
  color: var(--secondary-color-800);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
}

#signup-text a, #login-text a {
  display: inline;
  color: var(--primary-color-100);
}

/*모달*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal .modal-popup {
  background-color: #ffffff;
  font-size: 1.6rem;
  max-width: 54rem;
  height: 25rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.8rem;
}

.modal-popup p {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color-800);
  font-weight: 500;
}

.modal-popup button {
  background-color: var(--primary-color-100);
  width: 12rem;
  height: 4.8rem;
  position: absolute;
  bottom: 10%;
  right: 5%;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 600;
}


.hidden {
  display: none;
}

/* index.js 미디어쿼리 */
@media (max-width: 1199px) {
  #header-wrap {
    margin: 0 2.4rem;
  }

  .main-welcome-wrap,.main-bottom-wrap {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10rem;
  }

  .main-welcome-conts {
    align-items: center;
  }
  
  .main-welcome-conts p, .main-bottom-conts p {
    text-align: center;
  }

  .main-welcome-wrap > img {
    width: 69.6rem;
  }

  .main-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.4rem;
    gap: 5.2rem;
  }

  .main-feature {
    margin: 0;
  }

  .main-feature-wrap {
    flex-direction: column;
    background-color: #ffffff;
    width: 69.6rem;
    gap: 2.4rem;
  }

  .main-feature-wrap img {
    order: 0;
    width: 69.6rem;
  }

  .main-feature-conts {
    order: 1;
    width: 100%;
  }

  .main-feature-text {
    gap: 0;
  }
  
  .main-feature-text > .main-large-txt {
    font-size: 3.2rem;
  }

  #footer-wrap {
    margin: 3.2rem 2.4rem 10.8rem;
  }

}

@media (max-width: 743px) {
  .main-large-txt {
    font-size: 3.2rem;
    line-height: 4.48rem;
  }

  .main-small-txt {
    font-size:1.6rem;
    line-height: 1.92rem;
  }

  #header-wrap {
    margin: 0 1.6rem;
  }

  .main-welcome-wrap,.main-bottom-wrap {
    padding-top: 5rem;
  }
  
  .main-welcome-conts {
    align-items: center;
    width: 24rem;
    gap: 3rem;
  }

  #main-visit-btn {
    height: 4.8rem;
    font-size: 1.8rem;
    width: 100%;
  }

  .main-feature {
    margin: 0;
  }

  .main-feature-wrap {
    margin: auto 32px;
  }

  .main-welcome-wrap > img, .main-bottom-wrap > img {
    width: 100%;
  }

  .main-feature {
    width: 100%;
  }

  .main-feature-wrap img {
    width: 100%;
  }

  #footer-wrap {
    margin: 3.2rem 1.6rem auto;
    flex-wrap: wrap;
  }

  #footer-wrap > div {
    margin: 1rem 0;
  }

  #copyright {
    order: 2;
  }

  #footer-conts {
    order: 0;
  }

  #footer-sns-icons {
    order: 1;
  }

}

/* login.js, signup.js 미디어쿼리 */
@media (max-width: 743px) {
  #login-logo, #signup-logo {
    width: 19.8rem;
    height: 6.6rem;
  }
  #login-conts, #signup-conts {
    width: 100%;
    max-width: 40rem;
  }
}