.button {
  width: 8.8rem;
  height: 4.2rem;
  border-radius: 0.8rem;
  padding: 1.2rem 2.3rem;
  background-color: var(--primary-color-100);
  font-size: 1.6rem;
  line-height: 26rem;
  color: var(--secondary-color-100);
}
