.nav,
.nav-logo-menus-wrap,
.nav-menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 30rem;
  padding: 0 20rem;
  height: 7rem;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 0.1rem solid #dfdfdf;
}

.nav.tablet,
.nav.mobile {
  padding: 0 2rem;
}

.nav .nav-logo-menus-wrap {
  gap: 2.4rem;
}

.nav .button-wrap.tablet,
.nav .button-wrap.mobile {
  display: none;
}

.nav .profile-ic {
  display: none;
}

.nav .profile-ic.tablet,
.nav .profile-ic.mobile {
  display: flex;
  align-items: center;
}
