* {
  box-sizing: border-box;
}

button {
  /* 버튼 기본 스타일 지우기 */
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

button,
a {
  /* 버튼, 링크 안 이미지 중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button > img {
  width: 100%;
}
