.best-products-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.best-products-list .list-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
}

/*products*/

.best-products-list .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.4rem;
}

.best-products-list .products.tablet {
  grid-template-columns: 1fr 1fr;
}

.best-products-list .products.mobile {
  grid-template-columns: 1fr;
}
