:root {
  /* Primary Color */
  --primary-color-100: #3692ff;
  --primary-color-200: #1967d6;
  --primary-color-300: #1251aa;

  /* Secondary Color Group(gray) */
  --secondary-color-900: #111827;
  --secondary-color-800: #1f2937;
  --secondary-color-700: #374151;
  --secondary-color-600: #4b5563;
  --secondary-color-500: #6b7280;
  --secondary-color-400: #9ca3af;
  --secondary-color-200: #e5e7eb;
  --secondary-color-100: #f3f4f6;
  --secondary-color-50: #f9fafb;

  /* Error Color Group */
  --error-color: #f74747;
}
