.product {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.product .product-img:hover {
  box-shadow: 0 0 0.4rem #000000;
}

.product .product-info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.product .product-name {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.product .product-price {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
}
.product .product-favorite-count-wrap {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.product .product-favorite-count {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #4b5563;
}
.product .heart-btn {
  width: 1.34rem;
  height: 1.165rem;
}
