.basic-input {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.basic-input input {
  width: 32.5rem;
  height: 4.2rem;
  border: 0;
  background-color: var(--secondary-color-100);
  border-radius: 1.2rem;
  font-size: 1.6rem;
  padding: 1.5rem 2.4rem;
}

.basic-input input:focus {
  outline: 0.1rem solid var(--primary-color-100);
}
